---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section class="preview-section">
        <ul>
          {
            posts.map((post) => (
              <li class="card">
                <a href={`/blog/${post.id}/`}>
                  <img src={post.data.heroImage} alt="" />
                  <h4 class="title">{post.data.title}</h4>
                  <p class="description">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
  <style>
    li {
      list-style: none;
	  text-align: center;
    }
    .preview-section {
      display: flex;
      flex-direction: column;
    }
    a {
      text-decoration: none;
    }
    ul {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 52px;
    }

    .title {
      font-size: 24px;
      font-weight: 400;
      margin-top: 15px;
      line-height: 36px;
    }
    .description {
      font-weight: 400;
      line-height: 21px;
      font-size: 0.8em;
      margin-top: 15px;
      color: #1e1e1e;
    }
    .img-container {
      background-color: #f4f4f4;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 24px;
      border-radius: 24px;
      min-height: 300px;
      max-height: 300px;
    }
    img {
      width: 320px;
    }

    @media (max-width: 800px) {
      .img-container {
        min-height: 200px;
        max-height: 200px;
      }
	  ul {

      grid-template-columns: 1fr;

    }
    }
  </style>
</html>
