---
const { title, src, type, tags, id, colors, locId, artTitle } = Astro.props;
import { Picture } from 'astro:assets';
import "glightbox/dist/css/glightbox.css";

const isArt = type !== "art" ? { cursor: "pointer" } : { cursor: "default" };
const link = type !== "art" ? `/projects/${id}/` : "javascript:void(0)";

const imgOpt= locId>3?"lazy":"eager"
---
<script>
  import GLightbox from "glightbox"; //ignore

  const lightbox = GLightbox({
    selector: ".glightbox",
  });
</script>

{type !== "art" ? (
  <a href={`/projects/${id}/`} style="cursor:pointer">
    <div style={{ backgroundColor: colors?.[0] }} class="frame">
      <p class="title">
        <span>{title}</span>
        <span class="type">{tags?.[0] || "Project"}</span>
        <img loading={imgOpt} src="/site-icons/card-buttons.svg" alt="" aria-hidden="true" />
      </p>
      <Picture src={src} alt={title} loading={imgOpt} />
    </div>
  </a>
) : (
  <div class="frame" style={{ backgroundColor: colors?.[0], cursor: "default" }}>
    <p class="title">
      <span>{title}</span>
      <span class="type">Art</span>
      <img loading={imgOpt} src="/site-icons/card-buttons.svg" alt="" aria-hidden="true" />
    </p>
    <a href={src.src}>
      <Picture class="opt-image" src={src} alt={title} loading={imgOpt} />
    </a>
  </div>
)}
<style>
  .frame {
    border: 1px solid black;
    max-width: 400px;
    height: fit-content;
    border-radius: 12px;
    background-color: #fff;
    font-size: 0;
    line-height: 0;
    .title {
      line-height: 12px;
      max-height: 40px;
      border-bottom: 1px solid black;
      margin: 0px;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      .type {
        font-weight: 600;
      }
    }
    > img,.opt-image {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }

  }
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    text-decoration: none;
    color: inherit;
  }
</style>
