---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"project">["data"];

const {
  title,
  description,
  contentBlocks,
  heroImage,
  colors,
  heroHelpText,
  role,
  team,
  impact,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="dotted">
      <article>
        <section class="project-title--container">
          <h1>{title}</h1>
          <h3>{description}</h3>
        </section>

        <div style={{ backgroundColor: colors?.[0] }} class="hero-image frame">
          <p class="title">
            <span>{title}</span>
            <span class="type">{"Project"}</span>
            <img loading="lazy" src={"/site-icons/card-buttons.svg"} alt="000" />
          </p>
          {
            heroImage && (
              <img width={"100%"} height={510} src={heroImage.src} alt="" />
            )
          }
        </div>
        <div class="hero-image-help-text">{heroHelpText}</div>
        <div class="centered-project-content">
          {
            role && (
              <div class="rti">
                <div>
                  <h4>Role</h4>
                  <p>{role}</p>
                </div>
                <div>
                  <h4>Team</h4>
                  <p>{team}</p>
                </div>
                <div>
                  <h4>Impact</h4>
                  <p>{impact}</p>
                </div>
              </div>
            )
          }

          {
            contentBlocks && contentBlocks?.length > 0 && (
              <div class="content-container">
                <div class="content m-w-700">{contentBlocks?.[0]}</div>
                <div class="content m-w-700 text-right align-self-end">
                  {contentBlocks?.[0]}
                </div>
              </div>
            )
          }
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
<style>
  .rti {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 100px 0px;

    color: #594a4e;
    h4 {
      font-weight: 700;
      color: #594a4e;
      font-size: 32px;
    }
    p {
      font-size: 24px;
    }
  }
  .centered-project-content {
    margin: auto 70px;
    p {
      color: #594a4e;
    }
    h1 {
      color: #33272a;
      font-weight: 600;
      font-size: 36px;
      margin-top: 58px;
    }
  }
  .frame {
    border: 1px solid black;
    box-shadow: black -12px 12px;
    height: fit-content;
    border-radius: 12px;
    background-color: #fff;
    font-size: 0;
    line-height: 0;
    .title {
      line-height: 12px;
      max-height: 40px;
      border-bottom: 1px solid black;
      margin: 0px;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      .type {
        font-weight: 600;
      }
    }
    > img {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
  .project-title--container {
    text-align: center;
    margin: 60px 0px;
    h1 {
      font-size: 52px;
      font-weight: normal;
    }
    h3 {
      font-size: 28px;
      color: #594a4e;
      font-weight: normal;
    }
  }
  .hero-image-help-text {
    margin: auto 180px;
    font-style: italic;
    font-size: 20px;
    margin-top: 40px;
    color: #594a4e;
    opacity: 0.75;
    text-align: center;
  }
  main {
    width: calc(100% - 2em);
    max-width: 100%;
    margin: 0;
  }
  .carousel {
    margin-top: 64px;
  }
  h1 {
    margin: 0 0 1.5rem 0;
  }
  .content-container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .text-right {
    text-align: right;
  }
  .align-self-end {
    margin-left: auto;
    margin-top: 60px;
  }
  .m-w-700 {
    max-width: 700px;
  }
  .tags-container {
    display: flex;
    margin: 50px 0;
    .tags-list {
      margin-left: auto;
      text-align: right;
      .tags-list-item {
        list-style: none;
        font-weight: lighter;
        font-size: 32px;
        transition: color 0.8s;
        cursor: default;
      }
      .tags-list-item:hover {
        color: #ffc8fd;
      }
    }
  }
  .hero-image {
    margin: auto 180px;
  }
  .hero-image img {
    display: block;
    border-radius: 5px;
  }
  .prose {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
    color: #594a4e;
  }

  .title {
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
    line-height: 1;
  }
  .title h1 {
    margin: 0 0 0.5em 0;
  }
  .date {
    margin-bottom: 0.5em;
    color: rgb(var(--gray));
  }
  .last-updated-on {
    font-style: italic;
  }
  @media (max-width: 720px) {
    .tags-container {
      margin: 25px 0;
      .tags-list {
        .tags-list-item {
          font-size: 16px;
        }
      }
    }
  }
  @media (max-width: 780px) {
    .hero-image {
      margin: auto 45px;
      
    }
    .hero-image-help-text {
      padding-top: 24px;
      margin: auto 45px;
    }
    .rti {
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
    }
    .centered-project-content{
      margin: auto 40px;
    }
  }
</style>
